<header id="content_header" class="">
	<h2>Last Posts</h2>	
</header><!-- /content_header -->	
<article id="post_id" class="post">
	<header id="header" class="post_header">
		<h3>titulo</h3>
		<p>
			Posted by
			<time datetime="2011-01-12">January 12th, 2011</time>
		</p>
	</header><!-- /header -->
	<p>
	</p>
	<p>
	</p>
	<footer>
		<p>
			<a href="" title=""></a>
		</p>
	</footer>
</article><!-- /post_id -->
<footer>
	<!--  Footer -->
</footer>